/* universal styles */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.momo-signature-regular {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}

.goldman-regular {
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.goldman-bold {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
}





/* header nav flex section */
.Hflex{
  font-family: "Goldman", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.Hflex a{
  text-decoration: none;
  color: black;
  padding: 20px 10px;
}

.Hflex a:nth-child(5){
  margin-left: auto;
}

.Hflex a:nth-child(6){
  margin-left: 40px;
  margin-right: 20px;
}

.Hflex a:nth-child(6),
.Hflex a:nth-child(7){
  display: inline-block;
  padding: 15px;
  border: 2px solid black;
  border-radius: 25px;
}

.Hflex a:nth-child(7){
  color: white;
  background-color: black;
}

.Hflex a:nth-child(2):hover,
.Hflex a:nth-child(3):hover,
.Hflex a:nth-child(4):hover,
.Hflex a:nth-child(5):hover{
   color: green;
}

.Hflex a:nth-child(2):focus,
.Hflex a:nth-child(3):focus,
.Hflex a:nth-child(4):focus,
.Hflex a:nth-child(5):focus{
   color: green;
}

.Hflex .fa-bars {
    display: none;
  }


/* header section */
header{
  background-color:#003d00;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(10vh + 5px);
  margin-bottom: 3em;
}

header h3{
  margin-right: calc(8vw + 10px);
  color: white;
}

header a{
  font-family: Tahoma, Verdana, sans-serif;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  border: 2px solid white;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 5px;
  letter-spacing: 1px;
}


/* MAIN GRID SECTION */
main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3em;
  margin-bottom: 5em;
}

main article{
  width: 100%;
}

article img{
  width: 100%;
}

.ok,
.kk{
  margin-top: 10px;
  margin-bottom: 10px;
  height:80% ;
}

@media (max-width: 1280px)
/* to address breakpoints seen when using desktop site on mobile */{
  main{
    display: flex;
    flex-flow: column wrap;
  }
  main article{
    height: fit-content;
  }
  
  
}

@media (max-width: 992px) {
    .Hflex a:not(:first-child):not(:last-child) {
    display: none;
}

.Hflex .fa-bars {
    display: inline;
    margin-right: 1em;
    font-size: 25px;
    /* use JS to add interactivity to this so when U click this bar, ego bring the hidden links */
  }
  
  
  article img{
  max-width: 100%;
}


}

@media (max-width: 1280px) {
  
  header h3 {
    font-size: 15px;
  }
  
  header a{
  display: inline-block;
  padding: 10px;
  border: 1px solid white;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 5px;
  letter-spacing: 0.2px;
}
  
  
  
  main{
    display: flex;
    flex-flow: column wrap;
  }
  
  
  /* rest of main grid section styles here */
  
  
  
  /* to apply styling on the fonts */
  section{
    display: flex;
    flex-flow: column wrap;
    padding: 0px 1.5em;
    font-size: calc(3vw + 5px);
  }
  
  /* aside section */
  
  aside div h4,
  aside div ul {
  font-size: 15px;
}

footer nav{
  width: 20vw;
}

footer nav a {
  padding: 2px;
  margin-left: 5px;
}
  
  footer p{
    font-size: 10px;
  }
  
}



 /* main grid item 1 */
.SB1{
 width: 100%;
 height: 100%;
 display: grid;
 background-color: rgb(92 64 51/95%);
}

.SB1 h3{
  text-align: center;
  word-spacing: 10px;
  font-size: calc(3vw + 1em);
  color: white;
  align-self: center;
  margin-top: 50px;
}

 .SB1 p{
  text-indent: calc(3vw + 10px);
  line-height: 1.5;
  word-spacing: 2px;
  text-align: center;
  color: white;
  font-size: calc(1vw + 1em);
  text-wrap: wrap;
  padding: 10px;
  margin-top: 2em;
}

.SB1 a{
  text-decoration: none;
  font-size: calc(1vw + 5px);
  border: 2px solid white;
  background-color: white;
  border-radius: 25px;
  font-style: bold;
  color:black;
  padding: calc(2vw + 1px);
  justify-self: center;
  width: max-content;
  height: max-content;
  word-spacing: 1px;
  margin-bottom: calc(1vw + 1px);
  } 
  
/* main grid item 2 */
.SB2{
  display: grid;
  width: 100%;
  background-color: rgb(0 63 0/90%);
   font-family: "Momo Trust Display", sans-serif;
}

.SB2 h3{
  text-align: center;
  word-spacing: 10px;
  font-size: calc(3vw + 1em);
  color: white;
  align-self: center;
  margin-top: 70px;
}

 .SB2 p{
  text-indent: 2em;
  line-height: 2;
  word-spacing: 2px;
  text-align: center;
  color: white;
  font-size: calc(1vw + 1em);
  text-wrap: wrap;
  padding: 10px;
  margin-top: 1.5em;
}

.SB2 a{
  text-decoration: none;
  font-size: calc(1vw + 5px);
  border: 2px solid white;
  border-radius: 25px;
  font-style: bold;
  color:white;
  padding: 15px;
  justify-self: center;
  width: max-content;
  height: max-content;
  word-spacing: 1px;
  margin-bottom: calc(1vw + 1px);
  }
  
  /* maim grid item 3 */
  
  article > div{
    background-color: #0F5F4C;
  }
  .SB3{
    display: grid;
    width: 100%;
    height: 100%;
    background-color: #0F5F4C;
    font-family: "Momo Trust Display", sans-serif;
  }
  
  .SB3 h3{
  text-align: center;
  word-spacing: 10px;
  font-size: calc(3vw + 1em);
  color: white;
  align-self: center;
  margin-top: 70px;
}

 .SB3 p{
  text-indent: 2em;
  line-height: 1.5;
  word-spacing: 2px;
  text-align: center;
  color: white;
  font-size: calc(1vw + 1em);
  text-wrap: wrap;
  margin-top: 1.5em;
}

.SB3 a{
  text-decoration: none;
  font-size: calc(1vw + 5px);
  border: 2px solid white;
  border-radius: 35px;
  background-color: white;
  font-style: bold;
  color:green;
  padding: 15px;
  justify-self: center;
  width: max-content;
  height: max-content;
  word-spacing: 1px;
  margin-bottom: calc(1vw + 1px);
  }
  
  /* main grid 4 */
  .kkk{
    background-color: #D4C9A8;
  }
  
  .SB4{
    display: grid;
    background-color: #D4C9A8;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    color: #003d00;
  }
  
  .bold-this{
    font-weight: bold; 
  }
  
  .SB4 h3{
  text-align: center;
  word-spacing: 10px;
  font-size: calc(3vw + 1em);
  align-self: center;
  margin-top: 50px;
}

 .SB4 p{
  text-indent: 2em;
  line-height: 1.5;
  word-spacing: 2px;
  text-align: center;
  font-size: calc(1vw + 1em);
  text-wrap: wrap;
  margin-top: 1.5em;
}

.SB4 a{
  text-decoration: none;
  color: #003d00;
  font-size: calc(1vw + 5px);
  border: 2px solid #003d00;
  border-radius: 35px;
  font-style: bold;
  padding: 15px;
  justify-self: center;
  width: max-content;
  height: max-content;
  word-spacing: 1px;
  margin-bottom: calc(1vw + 1px);
  }
  
  /* END OF MAIN GRID */
  
  /* SECTION TO BE CENTERED */
  
section{
  display: grid;
  font-size: calc(1vw + 10px);
  grid-template-columns: 1fr;
  line-height: 1.5;
  row-gap: 2.5em;
}

.S1,
.S2,
.S3 {
  justify-self: center;
}

section .S2 a{
  color:black;
}

/* ASIDE SECTION */

aside{
  box-shadow: 0 -5px 5px 0 rgb(0 0 0/20%);
  margin-top: 2.9em;
  padding: 2em 3em;
  padding-bottom: 1em;
  font-size: calc(0.2vw + 1em);
}

aside div h4{
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(0.5vw + 1em);
}

aside div ul{
  list-style-type: none;
  line-height: 2;
  display: none;
}

aside div:hover ul{
  display: block;
}

aside div ul li a{
  text-decoration: none;
  color: rgba(0,0,0,60%);
}

aside div ul li a:hover,
aside div ul li a:focus{
  text-decoration: none;
  color: rgb(0 0 0);
}


/* FOOTER SECTION */
footer{
  box-shadow: 0 -3px 3px 0 rgb(0 0 0/20%);
  padding-left: 2em;
  margin-top: 1.5em;
  border-top: 1px solid rgb(0 0 0/20%);
}

footer nav{
  display: flex;
  width: 15%;
  justify-content: space-evenly;
  margin-top: 2em;
  margin-bottom: 2em;
}

footer nav a{
  color: white;
  background-color: black;
  text-decoration: none;
  background-clip: border-box;
  border-radius: 50%;
  padding: 5px;
}

footer p a{
  color: black;
  text-decoration: none;
  word-spacing: 3px;
  line-height: 1.5;
  letter-spacing: 1px;
}

footer p a:hover{
  color: black;
  text-decoration: revert;
}

footer p a:focus{
  color: black;
  text-decoration: revert;
}

.copy{
  color: rgb(0 0 0/ 70%);
  font-style: oblique;
  margin-top: 2.5em;
  margin-bottom: 3em;
}

